@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 25% 1%;

    --card: 0 0% 96%;
    --card-foreground: 0 0% 1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 1%;

    --primary: 267 53% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 1%;

    --muted: 0 0% 92%;
    --muted-foreground: 215 20.2% 34.9%;

    --accent: 0 0% 92%;
    --accent-foreground: 0 0% 1%;

    --destructive: 0 62.8% 69.4%;
    --destructive-foreground: 0 100% 50%;

    --success: 141 84% 93%;
    --success-foreground: 142 72% 29%;

    --border: 0deg 0% 80.78%;
    --input: 0 0% 74%;
    --ring: 240 0.34% 57.84%;

    --radius: 0.5rem;

    --hovered: 235,235,235;
    --hovered-foreground: 235,235,235;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0.25 99.5%;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 267 53% 49%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 11%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 0.34% 42.16%;
    --muted-foreground: 0 0 63%;

    --accent: 0 0% 26%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 358 100% 69%;

    --success: 144 61% 20%;
    --success-foreground: 142 69% 58%;

    --border: 0,0%,100%,.14;
    --input: 0 0% 26%;
    --ring: 240 0.34% 42.16%;

    --hovered: 20,20,20;
    --hovered-foreground: 39,42,52;
  }
/* } */
.aspect-square{aspect-ratio:1/1}
.after\:aspect-square:after{aspect-ratio:1/1;content:var(--tw-content)}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;

  }

  @font-face {
    font-family: 'Satoshi Var';
    src: url('/fonts/satoshi-variable.ttf') format('opentype');
  }
  
  body {
    font-family: 'Satoshi Var', sans-serif;
  }
}

::selection {
  background-color: hsl(var(--primary));
  color: #fff; /* Adjust the text color for better contrast if needed */
}

html {
  scroll-behavior: smooth;
}

::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out);
}
      
::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }
  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }
  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}